body {
  background-image: url('https://images.unsplash.com/photo-1567095751004-aa51a2690368?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YWJzdHJhY3QlMjBkYXJrfGVufDB8fDB8fHww&w=1000&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Cor preta semi-transparente (ajuste o valor do último componente para controlar a opacidade) */
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do corpo */
}