@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$color-primary: #FFF;

$width : 400px;
$height : 250px;
$primary_color : #26FFBD;
$border_color--hover : lighten($primary_color, 80);
$stroke : 2px;
$border: $stroke solid darken($primary_color, 10);
$transition_duration: 100ms;
$pipeline_width: $width+$stroke;
$pipeline_height: $height+$stroke;
$pipes : 4;

@function border-pipeline ($transition_duration, $pipe) {
  @return $transition_duration*$pipe;
}

@mixin border-animation($dimension, $easing , $pipe ) {
  transition: $transition_duration $dimension $easing border-pipeline($transition_duration, $pipe);
  -web-kit-transition: $transition_duration $dimension $easing border-pipeline($transition_duration, $pipe);
}

.box {
  text-align: center;
  padding: 30px;
  margin: 15px;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px;
}

.profileImage:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: #26ffbe7c 0px 5px 15px;
}

.title {
  color: $primary_color;
  margin: 10;
  font-size: 32px;
  // font-family: 'Merriweather', serif;
}

.subtitle {
  color: #FFF;
  margin: 15;
  font-size: 14px;
}

.title:hover, .subtitle:hover {
  color: $primary_color;
  transition: 0.5s;
}

.cardBox {
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cardImage {
  border-radius: 15px;
  border: 1px solid $primary_color;
  max-width: 850px;
  height: auto;
  box-shadow: rgba(241, 241, 241, 0.35) 0px 5px 15px;
}

.cardBoxNormal {
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cardImageNormal {
  border-radius: 15px;
  max-width: 850px;
  height: auto;
}

.cardImageNormal:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.cardImage:hover {
  background: $primary_color;
  margin: auto;
  border: $border;
  text-align: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: ($transition_duration*$pipes)+$transition_duration ease;

  &:before {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: #fff;
    top: -$stroke;
    left: -$stroke;
    @include border-animation(width, ease, 3);
  }

  &:after {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: #fff;
    top: -$stroke;
    right: -$stroke;
    @include border-animation(height, ease, 2);
  }

  &-inner:after {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: #fff;
    bottom: -$stroke;
    right: -$stroke;
    @include border-animation(width, ease, 1);
  }

  &-inner:before {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: #fff;
    bottom: -$stroke;
    left: -$stroke;
    @include border-animation(height, ease, 0);
  }

  &:hover {
    border-color: transparent;
    background: darken($primary_color, 30);
    transition: ($transition_duration*$pipes)+$transition_duration ease;
    transform: scale(1.03);

    &:before {
      width: $pipeline_width;
      @include border-animation(width, ease, 0);
    }

    &:after {
      height: $pipeline_height;
      @include border-animation(height, ease, 1);
    }

    .box-inner:after {
      width: $pipeline_width;
      @include border-animation(width, ease, 2);
    }

    .box-inner:before {
      height: $pipeline_height;
      @include border-animation(height, ease, 3);
    }
  }
}

.cardSocial {
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #FFF;
}

.cardSocial:hover {
  color: $primary_color;
}

.cardSocialLink {
  margin: 10px;
  color: #FFF;
  transition: 0.5s;
  text-decoration: none;
}

.cardSocialLink:hover {
  color: $primary_color;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .cardImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .cardImage {
    width: 100%;
    height: auto;
  }
}